---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<p class="writing-note">
  A compact date-based index of posts. For richer summaries, see <a href="{{ '/posts/' | relative_url }}">Writing</a>.
</p>

<div id="archives" class="pl-xl-3">
  {% assign rendered_keys = '' | split: '' %}
  {% assign last_year = nil %}

  {% for post in site.posts %}
    {% assign post_key = post.translation_key | default: post.url %}

    {% if rendered_keys contains post_key %}
      {% continue %}
    {% endif %}

    {% assign rendered_keys = rendered_keys | push: post_key %}
    {% assign translation_group = site.posts | where: 'translation_key', post_key %}
    {% if translation_group.size == 0 %}
      {% assign translation_group = site.posts | where: 'url', post_key %}
    {% endif %}
    {% assign en_matches = translation_group | where: 'lang', 'en' %}
    {% assign ko_matches = translation_group | where: 'lang', 'ko' %}
    {% assign en_post = en_matches | first %}
    {% assign ko_post = ko_matches | first %}
    {% assign first_group_post = translation_group | first %}

    {% if en_post %}
      {% assign display_post = en_post %}
    {% elsif first_group_post %}
      {% assign display_post = first_group_post %}
    {% else %}
      {% assign display_post = ko_post %}
    {% endif %}

    {% assign cur_year = display_post.date | date: '%Y' %}

    {% if cur_year != last_year %}
      {% if last_year %}</ul>{% endif %}

      <time class="year lead d-block">{{ cur_year }}</time>
      {{ '<ul class="list-unstyled">' }}

      {% assign last_year = cur_year %}
    {% endif %}

    <li>
      {% assign ts = display_post.date | date: '%s' %}
      <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ display_post.date | date: '%d' }}</span>
      <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
        {{ display_post.date | date: df_strftime_m }}
      </span>
      <a href="{{ display_post.url | relative_url }}"{% if ko_post %} class="lang-en"{% endif %}>{{ display_post.title }}</a>
      {% if ko_post %}
        <a href="{{ ko_post.url | relative_url }}" class="lang-ko" style="display:none;">{{ ko_post.title }}</a>
      {% endif %}
    </li>
  {% endfor %}

  {% if last_year %}</ul>{% endif %}
</div>
