---
layout: page
# The Category layout
---

{% include lang.html %}

{% assign rendered_keys = '' | split: '' %}
{% assign grouped_posts = '' | split: '' %}

{% for post in page.posts %}
  {% include post-group-vars.html post=post %}

  {% if rendered_keys contains post_key %}
    {% continue %}
  {% endif %}

  {% assign rendered_keys = rendered_keys | push: post_key %}
  {% assign grouped_posts = grouped_posts | push: display_post %}
{% endfor %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ grouped_posts | size }}</span>
  </h1>

  <ul class="content ps-0">
    {% for post in grouped_posts %}
      {% include post-group-vars.html post=post %}

      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}"{% if ko_post %} class="lang-en"{% endif %}>{{ post.title }}</a>
        {% if ko_post %}
          <a href="{{ ko_post.url | relative_url }}" class="lang-ko" style="display:none;">{{ ko_post.title }}</a>
        {% endif %}
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
